<!DOCTYPE html>
<html>

<head>
    <title>Chatbot Interface</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/style.css">
</head>

<body>
    <div class="container">
        <div id="chatbox"></div>
        <input id="userInput" class="form-control" type="text" placeholder="Digite uma mensagem...">
        <button id="sendButton" class="btn btn-primary">Enviar</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="assets/script.js"></script>
</body>
</html>
